.mosaic__palette {
  width: 25vw;
  height: 50vh;
  padding: 1rem;
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}